<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="List model">
  <ion-content class="padding">
   <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Model Name</h2>
      <p>Model Description</p>
    </a>
    
</div>
   <a href="#/tab/test/1"> another test</a>
    Shalin is this
  </ion-content>
</ion-view>
