<ion-view view-title="Predict">
  <ion-content>
       <div class="list card">
            <div class="row">
              <div class="col col-20">Enter URL</div> 
                <div class="col col-80">
                  <label class="item item-input">
                    <input type="text" placeholder="Enter URL" ng-model="imgURL">
                  </label>
                </div>                  
            </div>

            <label class="item item-input item-select">
              <div class="input-label">
                Select Model
              </div>
              <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
                <option ng-repeat="option in data.availableOptions" value="{{option}}">{{option.name}}</option>
              </select>
            </label>

             <div class="item item-body">      
                  <img class="full-image" ng-src="https://cdn.pixabay.com/photo/2014/12/22/10/04/lion-577104_960_720.jpg">     
             </div>
             <a class="button button-block button-positive" href="#/tab/predict/show" ng-click="Predict()">
              <i class="icon ion-music-note"></i>
              Predict
            </a>
       </div>
  </ion-content>
</ion-view>
