<ion-view view-title="Concept">
  <ion-content>
    <ion-list>
       <br/>
   <a class="button button-block button-balanced" href="#/tab/concept/add" ng-click="">Add Concept</a>
        <br/>
        <a class="button button-block button-positive" href="#/tab/concept/update">Update Concept</a>
          </br>
        <a class="button button-block button-calm" href="#/tab/concept/list" ng-click="OnList()">List Concept</a>
         </br>
        <a class="button button-block button-assertive" href="#/tab/concept/delete">Delete Concept</a>
    </ion-list>
    
  </ion-content>
</ion-view>
