<ion-view view-title="Input">
  <ion-content>
  <ion-list>
     <br/>
   <a class="button button-block button-balanced" href="#/tab/input/add">Add Input</a>
        <br/>
        <a class="button button-block button-positive" href="#/tab/input/update">Update Input</a>
          </br>
        <a class="button button-block button-calm" href="#/tab/input/list">List Input</a>
         </br>
        <a class="button button-block button-assertive" href="#/tab/input/delete">Delete Input</a>
    </ion-list>
  </ion-content>
</ion-view>
