<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Add Concept">
  <ion-content class="padding">
  <div class="list">
      <label class="item item-input item-stacked-label" >
        <span class="input-label">Concept Name</span>
        <input type="text" placeholder="Enter Concept Name" ng-model="concept">
      </label>
      <button class="button button-full button-positive" ng-click="OnAdd(concept)"> Submit</button>
   </div>
  </ion-content>
</ion-view>
