<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Add Input">
  <ion-content class="padding">
    
  
    <div class="list" ng-repeat="input in inputs track by $index">
                <label class="item item-input">
                  <input type="text" placeholder="Input Name" ng-model="input[id]">
                </label>
               
                   <div class="list padder">
                    <label class="item item-input">
                      <input type="text" placeholder="Enter Image URL" ng-model="imgURL">
                    </label>                             
                          <button class="button button-block button-positive">Upload Image</button>              
                 
                    <label class="item item-input">
                      <input type="text" placeholder="Upload Image" ng-model="imgSource">
                    </label>              
                </div>
                     <ul class="list" >
                      <li class="item item-checkbox" ng-repeat="concept in conceptList" >
                        {{concept.name}}
                        <label class="checkbox">
                        <input type="checkbox" ng-model="concept.selected">
                        </label>
                      </li>
          </ul>
     </div>
    <button class="button button-block button-positive" ng-click="addfield()">Add field</button>

<div class="row"> 
   <button  class="button button-positive col col-40" ng-click="save()">Save</button>
    <button  class="button button-positive col  col-offset-20 col-40" ng-click="cancle()">Cancel</button>
</div>
   
  </ion-content>
</ion-view>
