<ion-view view-title="Predict">
  <ion-content>
       <div class="list card">
            <div class="row">
              <div class="col col-20">Enter URL</div> 
                <div class="col col-80">
                  <label class="item item-input">
                    <input type="text" placeholder="Enter URL" ng-model="inputImage" ng-value="inputImage"></input>
                  </label>
                </div>                  
            </div>

            <label class="item item-input item-select">
              <div class="input-label">
                Select Model
              </div>
              <select name="repeatSelect" id="repeatSelect" ng-model="selectedConcept" ng-options="concept.name for concept in conceptList">
              </select>
            </label>

             <div class="item item-body">      
                  <img class="full-image" ng-src="">     
             </div>
             <a class="button button-block button-positive" href="#/tab/predict/show" ng-click="Predict(inputImage)">
              <i class="icon ion-ios-lightbulb"> </i>
              Predict
            </a>
       </div>
  </ion-content>
</ion-view>
