<ion-view view-title="Model">
  <ion-content>
    <ion-list>
      <br/>
        <a class="button button-block button-balanced" href="#/tab/model/add">Add Model</a>
        <br/>
        <a class="button button-block button-positive" href="#/tab/model/update">Update Model</a>
        </br>
        <a class="button button-block button-calm" href="#/tab/model/list" ng-click="OnList()">List Model</a>
        </br>
        <a class="button button-block button-assertive" href="#/tab/model/delete">Delete Model</a>
        </br>
        <a class="button button-block button-royal" href="#/tab/model/train">Train Model</a>
    </ion-list>
  </ion-content>
</ion-view>
