<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Model Tab -->
  <ion-tab title="Model" icon-off="ion-ios-pulse" icon-on="ion-qr-scanner" href="#/tab/model">
    <ion-nav-view name="tab-model"></ion-nav-view>
  </ion-tab>

  <!-- Concept Tab -->
  <ion-tab title="Concept" icon-off="ion-erlenmeyer-flask" icon-on="ion-erlenmeyer-flask" href="#/tab/concept">
    <ion-nav-view name="tab-concept"></ion-nav-view>
  </ion-tab>

  <!-- Input Tab -->
  <ion-tab title="Input" icon-off="ion-ios-cloud-upload" icon-on="ion-ios-cloud-upload" href="#/tab/input">
    <ion-nav-view name="tab-input"></ion-nav-view>
  </ion-tab>

 <!-- Prdicate Tab -->
  <ion-tab title="Predict" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses" href="#/tab/predict">
    <ion-nav-view name="tab-predict"></ion-nav-view>
  </ion-tab>

</ion-tabs>
