<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Update model">
  <ion-content class="padding">
    <div class="list" id="mainDiv" ng-show="topPanel" >
      <label class="item item-input item-select">
        <div class="input-label">
          Model
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <button class="button button-full button-calm" ng-model="showEditPanel" aria-label="Toggle ngHide" ng-click="UpdateModelEditClicked(showEditPanel)"> Edit</button>
   </div>
    <div class="list check-element" ng-show="showEditPanel" id='div'>
      <label class="item item-input item-stacked-label">
        <div class="input-label">
           <span class="input-label modelLAble"><b>Model</b></span>
        </div>
      </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Model Description</span>
            <input placeholder="Enter Description" ng-model="model.Description"></input>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Model URL</span>
            <input placeholder="Enter URL" ng-model="model.Description"></input>
        </label>
    <ion-checkbox ng-model="filter.red">Red</ion-checkbox>
    <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
    <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>
      <button class="button button-full button-positive" ng-click="UpdateModelSaveClicked()"> Save</button>
      <button class="button button-full button-assertive" ng-click="UpdateModelCancleClicked"> Cancle</button>
    </div>
  </ion-content>
</ion-view>
