<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Update concept">
  <ion-content class="padding">
    <ion-list show-delete="false" can-swipe="true" ng-repeat="concept in conceptList">
                    <ion-item>
                        {{concept.name}}
                        <ion-option-button class="button-light icon ion-edit" ng-click="ConceptEditClicked()"></ion-option-button>
                        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="ConceptDeleteClicked(concept)" ></ion-option-button>
                    </ion-item>
                    <div class="list check-element" ng-show="showEditPanel" id='div'>
                      <label class="item item-input item-stacked-label">
                        <div class="input-label">
                          <input type="text" ng-model="conceptName" placeholder="Enter Concept Name"/>
                        </div>
                      </label>                                     
                      <button class="button button-full button-positive" ng-click="UpdateConceptSaveClicked(conceptName)"> Save</button>
                      <button class="button button-full button-assertive" ng-click="UpdateConceptCancleClicked(conceptName)"> Cancle</button>
                  </div>
                </ion-list>
  </ion-content>
</ion-view>
